/*
	Theme Name: Allied Theme
	Theme URI: http://alliedfoundation.com
	Description: Allied Theme
	Version: 1.4.3
	Author: Emagid
	Author URI: http://emagid.com

*/







/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Universal styles
   ========================================================================== */

html,
body {
    margin:0;
    padding:0;
    -webkit-font-smoothing:antialiased;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}

/* ==========================================================================
   Body styles
   ========================================================================== */

div#body-wrap {
    min-height:100%;
    position:relative;
}

/* ==========================================================================
   Header styles
   ========================================================================== */

header{
    height:100px;
    background: url(img/allied-polygon-bg.jpg);
    background-size: cover;
}

ul#nav-logo {
    width:200px;
    margin-top: 5px;
    margin-left: 30px;
    float:left;
}

ul#drop-nav {
    text-align:right;
    float:right;
    padding-top:25px;
    padding-right: 50px;
}

ul#drop-nav li {
    display: block;
    position:relative;
    float:left;
    padding-left: 25px;
    padding-right: 25px;
}
ul#drop-nav a:hover {
	color:#e65325;
}
ul#drop-nav li a {
	display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:#3C4F5E;
}

ul#drop-nav li ul {
	display: none;
}
ul#drop-nav li ul li {
	padding-top: 20px;
	padding-left: 0;
	margin-left: 0;
}

ul#drop-nav li:hover ul {
	display: block;
	position: absolute;
	text-align: left;
	padding: 0 0 10px 10px;
    width: 230px;
	margin: 0;
	float:none;
	background:rgba(60,79,94, 0.9);
}

ul#drop-nav li:hover ul.sub-dropdown {
    position: relative;
    width: auto !important;
    background: rgba(230, 83, 37, 0.5);
    margin-top: 5px;
}
ul#drop-nav li:hover ul.sub-dropdown li a {
    color:#fff;
    
}
ul#drop-nav li:hover li {
	float:none;
}
ul#drop-nav li ul li a {
	color:#fff;
    font-size: 15px;
}
ul#drop-nav li button {
    border:none;
    margin-top: -10px;
    padding:15px 30px;
    background:#3C4F5E;
    color:#fff;
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}
ul#drop-nav li button a {
    color:#fff;
}

/* ==========================================================================
   Section Slider styles
   ========================================================================== */

section#slider {
    width: 100%;
    height:600px;
    background-size: cover;
}


/* ==========================================================================
   Section Projects styles
   ========================================================================== */

section#projects {
    overflow:hidden;
    display: block;
    width:100%;
    margin: 50px auto 0;
    padding-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #5c6b73;  
}

section#projects div {
    font-family: 'Open Sans', sans-serif; 
    color:#5c6b73;    
}
section#projects h1 {
    font-weight: 400;
    font-size:30px;
    margin-bottom: 10px; 
    padding-bottom: 5px;
    border-bottom: 1px solid #5c6b73;
    width: 90%;
    margin: 15px auto;
}
section#projects a {
    color:#5c6b73; 
}
section#projects p {
    font-weight: 300;
    width: 85%;
    margin:0 auto 10px;
    text-align: left;
}
section#projects img {
    width:100%;
}
section#projects button {
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
    padding: 15px 30px;
    background: #3C4F5E;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}
section#projects button a {
    color:#fff;
}

section#projects ul li {
        width: 75%;
    margin:0 auto;
    text-align:left;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: disc;
}
div.project-float {
    float:left;
}

div.project-width {
    width:48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
}

.project_bg {
    height: 350px;
    background-size: cover;
    background-position: center;
}


/* ==========================================================================
   Double Section styles
   ========================================================================== */

div#double-section {
	overflow:hidden;
    width:100%;
    font-family: 'Open Sans', sans-serif; 
    color:#5c6b73; 
    background:#3C4F5E;
}
body.media #double-section {
    background:#fff;
}


/* ==========================================================================
   Section News styles
   ========================================================================== */
.wrapper80 {
    width: 80%;
    margin: 0 auto;
    max-width: 1080px;
}
section#news {
    width:100%;
    text-align: left;
    border-right: 1px solid #5c6b73; 
    padding-bottom: 20px;
    background: #fff;
}

section#news h1 {
    margin-top: 0;
    padding-top:15px;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

section#news a {
    color:#5c6b73;  
}

div#news-blog-featured {
    float:left;
    /*height:500px;*/
    width:50%;
}

div#news-blog-featured h2{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline
}

div.news-blog-side {
    width:49.5%;
    margin: 0 auto 20px;
    text-align: left;
    min-height: 95px;
    display: inline-block;
    vertical-align: top;
}
div.news-blog-side h2 {
    margin:0 auto;
    font-size: 14px;
}
div.news-blog-side h3 {
    margin: 0 auto;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}
div.news-blog-side p {
    font-size: 12px;
    font-weight: 300; 
    padding-top:0;
    margin-top: 10px;
}
div.news-blog-side img {
    float:left;
    margin-right: 12px;
    width: 140px;
    max-height: 93px;
}

/* ==========================================================================
   Section Calendar styles
   ========================================================================== */
.wrapper98 {
    width: 98%;
    margin: 0 auto;
}
.contain100 {
    width: 100%;
    text-align: center;
}
.contain60 {
    width: 58%;
    float: left;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}
.contain40 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.contain40 a {
    color:#e65325;
    text-decoration: underline;
    cursor: pointer;
}
.contain40 img {
    width: 100%;
}
section#calendar {
    width:100%;
    text-align: left;
    font-family: 'Open Sans', sans-serif; 
    color:#fff;  
    overflow: hidden;
    background:#3C4F5E;
    padding-bottom: 20px;
}
section#calendar h1 {
    margin-top: 0;
    padding-top:15px;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}
section#calendar img {
	width:40%;
    margin: 0 auto;
}
.mc-main.calendar {
    display: none !important;
}
.mc-main table {
    width: 80%;
    margin: 0 auto;
}
.mc-main caption {
    font-size: 1.5em;
}
ul.locations {
    width: 97%;
    margin: 0 auto;
}
section#calendar h6 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.locations li {
    float: left;
    width: 50%;
    white-space: normal;
    text-align: center;
    font-size: 14.5px;
}
ul.locations li:hover {
    text-decoration: underline;
}
ul.locations a {
    color: #fff;
    outline: 0;
}

/* ==========================================================================
   Section Mission styles
   ========================================================================== */

section#mission {
	overflow: hidden;
    width:100%;
    text-align: center;
    background: #e65325; 
    padding-top: 50px;
    padding-bottom: 50px;
    display: none;
}

section#mission h1 {
    margin-top: 0;
    padding-top:50px;
    letter-spacing: 0.1em;
    font-size: 54px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; 
    color:#fff; 
}
section#mission p {
    width:70%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; 
    color:#fff; 
}

/* ==========================================================================
   Section Sponsor styles
   ========================================================================== */

section#sponsor {
	overflow: hidden;
    width:100%;
    text-align: center;
    background: #DEE7EE; 
    padding-bottom: 50px;
}

div#sponsor-text {
    width:100%;
    margin: 0 auto;
    text-align: center;
}

div#sponsor-text h1 {
    margin-top: 0;
    padding-top:50px;
    font-size: 28px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif; 
    color:#3C4F5E; 
}
div#sponsor-logos {
    width: 90%;
    margin: 0 auto;
}
div#sponsor-logos ul {
    text-align: center;
}

div#sponsor-logos ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 19%;
    margin: 0 auto;
}

div#sponsor-logos ul li img {
    width: 90%;
    margin: 0 auto;
}
.gs_logo_single {
        height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3C4F5E;
    padding: 0 15px;
}
.bx-wrapper img {
    max-height: 150px !important;
}
/* ==========================================================================
   Section Contact styles
   ========================================================================== */

section#contact {
    overflow:hidden;
    width:100%;
    text-align: center;
    background: #e65325; 
    padding-bottom:50px;
}

section#contact h1 a {
    margin-top: 0;
    padding-top:30px;
    letter-spacing: 0.1em;
    font-size: 48px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; 
    color:#fff; 
}
section#contact h5 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif; 
    color:#fff; 
    padding-bottom: 15px;
    padding-top: 5px;
}
#contact ul {
    text-align:center;
    padding-bottom: 10px;
}

#contact ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    height:10px;
}
img.social-logos {
    width:42px;
}

div.contact-form {
    width:100%;
}

.contact-form input.wpcf7-form-control,
.contact-form textarea.wpcf7-form-control {
    margin: 20px auto;
    padding:6px;
    width:40%;
    display: block;
    background:#a13b22;
    border:none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
}

.contact-form textarea.wpcf7-form-control {
    height:100px;
    margin-top: 0;
}
::-webkit-input-placeholder {
   color: #fff;
}
textarea:focus, input:focus {
    color:#fff;
}
.contact-form input.wpcf7-submit {
    width: 20%;
    background: #5c6b73;
    border:none;
    opacity: 0.7;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    box-shadow: 10px 10px 21px #010101;
}


/*Breastfeeding Page*/

  	.breastfeed_list_wrapper {
        padding-top: 40px;
        width: 90%;
        margin: 0 auto;
    }
    ul.breastfeed_list {
        overflow: hidden;
    }
    ul.breastfeed_list li {
        float: left;
        width: 18%;
        margin-left: 1%;
        margin-right: 1%;
    }
    ul.breastfeed_list li button {
        width: 100%;
        border: none;
        padding: 15px 20px;
        background: #3C4F5E;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.1em;
        height: 140px;
        outline:0;
    }
    ul.breastfeed_list li button:hover {
        background: #e65325;
    }
    ul.breastfeed_list li button a {
        color:#fff;
    }

/* ==========================================================================
   BOARD PAGE styles
   ========================================================================== */
    div.other_members {
        width: 100%;
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        border-bottom: 2px solid #e65325;
    }
    h2.color-orange {
        margin-top: 20px;
        line-height: 5em;
        margin-bottom: 20px;
        font-size: 38px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-align:center;
    }
section#page-header h1.color-orange {
    color:#e65325;
}

section#board-intro  {
    width:90%;
    background: #fff;
    margin: 0 auto;
}

div#board-wrap {
    width:90%;
    margin: 0 auto;
}

section#board-intro .board-members {
    width:33%;
    display: inline-block;
    vertical-align: bottom;
    white-space: normal;
    margin-bottom: 50px;
    text-align: center;
}

section#board-intro .board-figures {
	overflow: hidden;
	padding-bottom: 100px;
    text-align: center;
    width: 100%;
}

section#board-intro .board-members h2 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
    color:#5c6b73;   
    margin-bottom: 0;
}
section#board-intro .board-members h2 a {
    color:#5c6b73;
}
section#board-intro .board-members h2 a:hover {
    text-decoration: underline;
}
section#board-intro .board-members p {
    font-weight: 700;
}
section#board-intro .board-members img{
	height:250px;
}
div#board-wrap-80 {
    width: 80%;
    margin: 0 auto;
}
section#board-intro #board-bio {
    width:100%;
    background:#5C7E97;
    padding-top: 30px;
    padding-bottom: 50px;
}
section#board-intro #board-bio ol {
    padding: 0;
    margin: 0;
        
}
section#board-intro #board-bio ol li {
    color:#fff;
}
section#board-intro #board-bio ul li {
    color:#fff;
    margin-left: 10px;
    list-style-type: disc;
}
section#board-intro #board-bio p {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; 
    color:#fff;
}

section#visit-allied {
    padding-top: 40px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    background: #fff;
}


/* ==========================================================================
   BOARD PAGE styles
   ========================================================================== */
section#donate {
    width:90%;
    height:auto;
    background: #fff;
    margin: 0 auto;
}

section#donate {
    width:100%;
    background:#5C7E97;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
section#donate {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; 
    color:#fff;
}

.donate_options {
    width: 90%;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}
.donate_options div {
    width: 47%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #E5E5E5;
    height: 260px;
}
.donate_options div img.check{
    height: 50px;
}
.donate_options div form {
    outline: 0;
}
.donate_options h2 {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.donate_options p a {
    text-decoration: underline;
    color: #5C7E97;
}
/* ==========================================================================
   PROJECT PAGE styles
   ========================================================================== */

section#slider-projects {
    height:600px;
    background: url(img/allied-slider-2.jpg) no-repeat;
    background-size: cover;
}

section#page-header.background-orange {
    background: #e65325;
}
section#page-header.background-orange  h1 {
    color:#fff;
}

section#project-intro {
    width:100%;
    min-height: 100%;
    padding-top:50px;
    padding-bottom: 50px;
}

/*div#project-blurb p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; 
    color:#5c6b73;
    line-height: 2em;
}*/
#project-blurb p {
    font-weight: 400;
    width: 85%;
    margin:15px auto 10px;
    text-align: left;
    color:#5c6b73;
    line-height: 2em;
}
#project-blurb ul li {
    width: 75%;
    margin:0 auto;
    text-align:left;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: disc;
    color:#5c6b73;
}
div#project-wrap-80 {
    width: 80%;
    margin: 0 auto;
}

section#projects.background-grey {
	overflow:hidden;
    padding-top: 20px;
    padding-bottom: 50px;
    background: #5c6b73;
}

section#projects.background-grey h1 {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
    color:#fff; 
    margin-bottom: 50px;
}

section#projects.background-grey h2 {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    text-decoration: underline;
    color: #fff;
}

section#projects.background-grey p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; 
    color:#fff;
}

/* ==========================================================================
   IN THE NEWS styles
   ========================================================================== */
.news-content {
    margin-top: 16px;
}
body.media #events-calendar{
    position: absolute;
    top:687px;
    left:0;
    display: none;
    
}
body.media #events-calendar ul {
    padding: 15px;
}
body.media #events-calendar ul li {
    text-align: left;
    list-style-position: inside;
    list-style-type: square;
}

body.media #events-calendar h1 {
    background-color: #3C4F5E;
}
body.media iframe {
    margin-bottom: 30px;
}

@media (max-width:690px) {


    body.media #events-calendar {
        width: 100%;
        position: relative;
        top: auto;
        left:auto;
    }
    .news-content {
        margin-left:auto;
    }
    .news-content iframe{
        width: 95%;
    }
    .contain60, .contain40 {
        width:100%;
        float: none;
        margin: 0 auto 20px;
    }
    ul.locations li {
        float: none;
        width: 100%;
    }
    div.news-blog-side {
        width: 100%;
    }
}
/* ==========================================================================
   CALENDAR PAGE styles
   ========================================================================== */

section#slider-calendar {
    height:400px;
    background: url(img/allied-slider-3.jpg) no-repeat;
    background-size: cover;
}

section#events-calendar {
    width:33.3%;
    float:left;
    text-align: center;
    border-right: 1px solid #5c6b73; 
    height:600px; 
    background: #fff;
}
body.media section#events-calendar {
    border: 0;
}
section#events-calendar h1 {
    margin-top: 0;
    padding-top:15px;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size:32px;
    text-decoration: underline;
    padding-bottom: 20px;
    background: #e65325;
    color:#fff;
}


table.my-calendar-table {
  line-height: 1;
}
.mc-main .mc-date {
  line-height: 3.5;
}
.mc-main tr td {
  height: 3.5em !important;
}
.mc-main .event-title .has-image {
  padding-left: 7px !important;
}
.mc-main .event-title img {
  display: none !important;
}
.mc-main th {
  padding: 1px !important;
}
.mc-main .mc-date {
  padding: 0 4px !important;
  line-height: 1;
}
.mc-main .mc_general .event-title, .mc-main .mc_general .event-title a {
  background: #ea5b31 !important;
}
.mc-main .event-title a {
    font-weight: normal;
    font-size: 12px !important;
    letter-spacing: 0;
    line-height: 1em !important;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    color:#fff !important;
    padding-top: 3px !important;
}
.sidebar .widget-title {
  color:#545454 !important;
}

.mc-main .has-events .mc-date {
    background: rgba(240, 240, 240, .9);
}

div.details.has-image {
  display:block !important;
}
div.details.has-image img.mc-image {
  width:100%;
}
.mc-main tr td {
  position: relative;
}
.mc-main .details p {
  margin-bottom: 0 !important;
}
.mc-main .calendar-event .details, .mc-main .calendar-events {
  padding: 0 !important;
  left:auto !important;
    box-shadow: 0 0 0 !important;
  position: relative !important;
  background: transparent;
}
img.mc-image.photo.wp-post-image {
  display: none !important;
}
div.details.has-image button.mc-toggle.close, div.details.has-image .time-block, .mc_edit_links {
  display: none;
}
p.mc_details {
    display: none;
}
.mc-main caption {
    background: #3C4F5E;
}
/* ==========================================================================
   CONTACT PAGE styles
   ========================================================================== */

section#page-header {
    height:170px;
    width:100%;
    text-align: center;
    background: #fff; 
}

section#page-header h1 {
    margin-top: 0;
    padding-top:30px;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
    text-transform: uppercase;
    letter-spacing: -0em;
    color:#5c6b73; 
}

section#contact.contact-height {
    overflow: hidden;
    padding-bottom: 100px;
}

section#contact h1.follow-us-header {
    letter-spacing: 0em;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}

section#contact #contact-header {
    float:left;
    width: 50%;
    padding-top: 30px;
}

div.page-contact-form {
    float: left;
    padding-top: 50px;
    width: 50%;
}

.page-contact-form input.wpcf7-form-control,
.page-contact-form  textarea.wpcf7-form-control {
    width: 75%;
    margin: 20px auto;
    padding:6px;
    display: block;
    background:#a13b22;
    border:none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
}
.page-contact-form  textarea.wpcf7-form-control {
	height: 150px;
}

.page-contact-form input.wpcf7-submit {
    width:50%;
    background: #5c6b73;
    border:none;
    opacity: 0.7;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    box-shadow: 10px 10px 21px #010101;
}

div.wpcf7-response-output {
	margin-top:0;
	width:75%;
	margin: 0 auto;
	color:#ccc;
	font-family: 'Open Sans', sans-serif; 
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

div.clear-footer {
    height:190px;
}

footer {
    padding-top: 10px;
    width:100%;
    height:190px;
    position:absolute;
    bottom:0;
    left:0;
    text-align: center;
    background: #3C4F5E ; 
    font-family: 'Open Sans', sans-serif; 
}

div.footer-float {
    float:left;
}

div.footer-width {
    width:25%;
}

footer h1 {
	margin: 5px auto 10px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;font-style: normal;
}
footer a, footer p {
    color:#e5e5e5;
    font-style: normal;
}
span#footer-social-links img {
    width:26px;
    padding-right: 10px;
}


/* ==========================================================================
   Responsive styles
   ========================================================================== */

@media (max-width:1100px) {
	section#slider,
	section#slider-projects {
		height:400px;
	}
	div.project-width {
		width:100%;
		margin-bottom: 50px;
	}
    .project_bg {
        height: 350px;
    }
	div#news-blog-featured {
		width:100%;
		margin-bottom: 20px;
	}
	section#news h1,
	section#calendar h1,
	section#projects.background-grey h1 {
		padding-bottom: 0;
		font-size: 28px;
	}
	section#calendar img {
		width: 70%;
	}
	div#sponsor-text {
		width:100%;
	}
	div#sponsor-text h1 {
		padding-top:20px;
		padding-bottom: 20px;
	}
	div#sponsor-logos ul {
		text-align:center;
	}
	footer {
		height:auto;
	}
	div.footer-width {
		width:100%;
		margin-bottom:20px;
	}
    section#page-header {
        height: 115px;
    }
    .main-banner-image {
        height: 400px !important;
    }
	section#page-header h1 {
		font-size: 40px;
	}

	section#visit-allied {
		margin-bottom: 50%;
	}

	section#contact #contact-header {
    display: none;
	}

	div.page-contact-form {
	    width: 100%;
	    margin-bottom: 50%;
	}
}

@media (max-width:600px) {
	ul#nav-logo {
		margin-left: 0;
	}
	section#slider,
	section#slider-projects {
		height:300px;
	}
	section#news,
	section#calendar {
		width:100%;
        padding-bottom: 25px;
	}
	section#calendar img {
		width:85%;
		margin-bottom: 50px;
	}
	section#mission h1 {
		font-size: 36px;
		font-weight: 400;
	}
	#sponsor-logos img {
		width:175px;
	}  

    section#board-intro .board-members {
        width: 100%;
        float: none;
    }


	section#visit-allied {
		margin-bottom: 100%;
	}
	section#visit-allied img {
		width:80%;
	}

	div.page-contact-form {
    	margin-bottom: 100%;
	}
	section#contact h1 a {
		font-size: 24px;
	}
	section#contact h1 {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	img.social-logos {
		width: 24px;
	}
	.contact-form input.wpcf7-form-control, .contact-form textarea.wpcf7-form-control {
		margin: 10px auto;
		width: 70%;
	}
	div.contact-form {
		height: 600px;
	}
	div#news-blog-featured {
		width: 100%;
		height: auto;
	}
	ul.breastfeed_list li {
        float: none;
        width: 100%;
        margin: 0 auto 10px;
    } 
    ul.breastfeed_list li button {
    	height: 100px;
    }
    .main-banner-image {
        height: 300px !important;
    }
    section#page-header h1 {
        font-size: 24px;
    }
    .donate_options {
        padding: 0;
    }
    .donate_options div {
        display: block;
        width: 100%;
        margin: 20px auto;
        padding-top: 10px;
    }
    footer h1  {
        font-size: 16px;
    }
    div.footer-width {
        margin-bottom: 9px;
    }
    .bx-viewport {
        height: 152px !important;
    }
    .mobile_no {
        display: none !important;
    }
    .mobile_show {
        display: block !important;
    }
    div#sponsor-logos ul li {
        width: 36%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .gs_logo_container {
        width: 100% !important;
    }
    .gs_logo_single {
        margin-bottom: 10px;
    }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

